body {
  background: url(https://media.giphy.com/media/VElvpCtwGzGeI/giphy.gif)
    no-repeat center fixed;
  background-size: cover;
  font-family: Ubuntu, sans-serif;
  color: #af111c;
  text-align: center;
}

header {
  font-family: "Butcherman", cursive;
  font-size: 6em;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#f71221, rgb(10, 8, 8));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#btnStart {
  font-size: 50px;
  text-align: center;
  background-color: rgb(10, 8, 8);
  width: 250px;
  height: 80px;
  padding-top: 20px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

#btnOver {
  display: none;
  font-size: 50px;
  text-align: center;
  background-color: rgb(10, 8, 8);
  height: 120px;
  padding: 20px 80px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

#timer {
  font-size: 4em;
  margin: 0;
  display: none;
}

button {
  background-color: rgb(10, 8, 8);
  color: #af111c;
  padding: 1em 3em;
  margin: 0 1em;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

#buttons {
  display: none;
}

#message-container {
  min-height: 1em;
  position: absolute;
  top: 32%;
  left: calc(50% - 200px);
  width: 400px;
  font-size: 3em;
}

#message {
  display: none;
  background-color: rgb(10, 8, 8);
  padding: 0.5em 1em;
}

.clock {
  width: 6rem;
  height: 6rem;
  border: 10px solid #af111c;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1),  inset 0 0 0 3px #efefef,
     inset 0 0 10px rgb(10, 8, 8),  0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
  width: 50%;
  height: 5px;
  background: rgb(10, 8, 8);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 1.9, 0.58, 1);
}

#score {
  display: none;
  background-color: rgb(10, 8, 8);
  font-size: 30px;
}
